/* BASE */
.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;

    @extend .clear;
}

.browserupgrade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 9999;
    padding: 50px;

    a {
        text-decoration: underline;
        color: #a52a2a;
    }
}

body{
    background: url('../images/base/background.png') no-repeat center top;
    background-size: cover;
    color: #555;
    font-family: $sentico-regular;
}