/* TYPOGRAPHY */
h1 {
    font-size: 42px;
    font-family: $sentico-medium;
    text-align: center;
}
h2{
	font-size: 28px;
	line-height: 24px;
	color: #0077c9;
	font-family: $sentico-medium;
}
h3{
	font-family: $sentico-medium;
	font-size: 20px;
}
p{
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}